{{ define "main" }}
<section id="banner">
	<div class="content">
        <img style="width:80%; margin-bottom:50px;" src="/img/horizontal.png" alt="Silverstrike">
		<header>
			<p>Finance Management Made Easy</p>
		</header>

		<p style="border: solid black 2px; padding: 8px; border-radius: 8px;">
			Current status: I've moved on to managing my finances using a simplified workflow and am no longer actively using or developing Silverstrike.
			<br>
			<br>
			I will continue keeping it compatible to current or at least LTS releases of django but won't be adding any features.
			<br>
			I'll be accepting merge requests and if somebody wants to continue working on it I'm open to transfering the project over eventually.
		</p>
		<p>
			SilverStrike is a Django webapp that you can use to manage your finances.
		</p>
		<p>
			I started working on it, because the available open source self-hosted options are limited and didn't do things as I wanted.
			You can take a look around and see if it suits you.
		</p>
		<p>
			If you have any questions or comments don't hesitate to contact me.
		</p>

		<ul class="actions">
			<li><a href="{{ .Site.Params.learnmorelink }}" class="button big">{{ .Site.Params.learnmore }}</a></li>
			<li><a href="https://github.com/agstrike/silverstrike/" target="_blank" class="button big">Source</a></li>
		</ul>
	</div>
</section>
{{ end }}
